<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <nav class="d-flex justify-content-around bg-dark text-white align-items-center">
        <h1>Books</h1>
        <a class="text-decoration-none text-white" href="/books">Dashboard</a>
        <a class="text-decoration-none text-white" href="/profile">Profile</a>
        <a class="text-decoration-none text-white" href="/logout">Logout</a>
    </nav>
    <div class="d-flex justify-content-evenly my-4">
      
        <div class="card" style="width: 13rem; height: fit-content;">
            <img src="../static/images/book.jpeg" style="height: 50%;" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{book.title}}</h5>
              <p class="card-text">Description: {{book.description}}</p>

              <p class="card-text">Author: {{book.author}}</p>
              <p class="card-text">Nr of pages: {{book.nrOfPages}}</p>
              <p class="card-text">Price: ${{book.price}}</p>

              <p class="card-text">Created by: {{book.firstName}} {{book.lastName}}</p>

              {% if session['user_id'] == book.user_id %}
              <a href="/book/edit/{{book.id}}" class="btn btn-primary my-1">Edit book</a>
              <a href="/book/delete/{{book.id}}" class="btn btn-primary my-1">Delete Book</a>
                {% endif %}
            </div>
          </div>

    </div>

</body>
</html>